<%= form_with(model: chatroom, local: true) do |form| %>
  <% if chatroom.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(chatroom.errors.count, "错误") %> prohibited this chatroom from being saved:</h2>

      <ul>
      <% chatroom.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field form-group">
    <%= form.label :name, "起个炫酷的名称：" %>
    <%= form.text_field :name %>
  </div>

  <div class="actions">
    <%= form.submit "创建", class:"btn btn-sm btn-primary" %>
  </div>
<% end %>
