<p id="notice"><%= notice %></p>

<h1>Chatrooms</h1>

<table class="table table-hover">
  <thead class="table-dark">
    <tr>
      <th>#</th>
      <th>聊天室</th>
      <th colspan="3">选项</th>
    </tr>
  </thead>

  <tbody>
    <% n = 1 %>
    <% @chatrooms.each do |chatroom| %>
      <tr>
        <td><%= n %></td>
        <td><%= chatroom.name %></td>
        <td><%= link_to 'Show', chatroom %></td>
        <td><%= link_to 'Edit', edit_chatroom_path(chatroom) %></td>
        <td><%= link_to 'Destroy', chatroom, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
      <% n += 1%>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Chatroom', new_chatroom_path %>
