<p id="notice"><%= notice %></p>

<h1>私密聊天室</h1>

<table class="table table-hover">
  <thead class="table-dark">
    <tr>
      <th>#</th>
      <th>聊天室</th>
      <th>选项</th>
      <th>其它</th>
    </tr>
  </thead>

  <tbody>
    <% n = 1 %>
    <% @chatrooms.each do |chatroom| %>
      <tr>
        <td><%= n %></td>
        <td><%= chatroom.name %></td>
        <td>
          <!-- 需要添加method -->
          <%= link_to "进入聊天室", chatroom_chatroom_users_path(chatroom), method: :post%> |
          <%= link_to "离开聊天室", chatroom_chatroom_users_path(chatroom), method: :delete, data: {confirm: "离开这个聊天室？"}%>
        </td>
        <td>
          <%= link_to '详细', chatroom %> |
          <%= link_to '删除记录', chatroom, method: :delete, data: { confirm: '确认删除个人聊天记录？' } %>
        </td>
      </tr>
      <% n += 1%>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to '新建聊天室', new_chatroom_path %>
