<p>
  <strong>聊天室：</strong>
  <%= @chatroom.name %>
</p>

<div data-behavior="messages" data-chatroom-id="<%= @chatroom.id %>" id="chatroom-<%= @chatroom.id %>" style="margin-bottom:100px;">
  <!-- 降序排列，取前100条记录，反转，最新的对话显示在最下面。 -->
  <% unread_message_line = true %>
  <% @messages.each do |message| %>
    <!-- 如果message的created_at大于chatroom_user中的last_read_at则，在这条message上面添加提示红线 -->
    <% if unread_message_line && message.created_at > @chatroom_user.last_read_at %>
      <div class="strike"><span>未读信息</span></div>
      <% unread_message_line = false %>
    <% end %>
    <%= render message %>
  <% end %>
</div>



<div style="position: fixed; bottom:1px; width:80% ">
  <div>
    <%= link_to '更新', edit_chatroom_path(@chatroom) %> |
    <%= link_to '返回', chatrooms_path %>
  </div>
  <%= form_with(model: [@chatroom, Message.new], id: "new_message", local: true) do |f| %>
    <div class="input-group mb-2">
      <%= f.text_area :body, rows: 1, class: "form-control", autofocus: true, placeholder: "输入..."%>
      <div class="input-group-append">
        <!-- 注意：改变了button的type -->
        <%= f.button "发送", class: "input-group-text", type:"button", id: "button-message"%>
      </div>
    </div>
  <% end %>
</div>
